.overlay-container {
  position: relative;
  width: 100%;
  height: 100vh; /* full viewport height */
  overflow: hidden;
}

.page {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  overflow: hidden;
  transition: width 0.3s ease; /* smooth resizing */
}

.retro {
  z-index: 2;
}

.modern {
  z-index: 1;
  width: 100%;
}

.slider {
  position: absolute;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
  width: 50%;
  z-index: 3;
}
