.home-container {
  display: flex;
  height: 100vh;
  width: 100vw;
  position: relative;
  overflow: hidden;
}

.retro-half,
.modern-half {
  height: 100%;
  transition: width 0.25s ease;
  overflow: hidden;
}

/* Slider */
.slider {
  position: absolute;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
  width: 50%;
  z-index: 20;
}
